$error-color:red;

@mixin box-border($border-color: #000) {
  border: 1px solid $border-color;
}

@mixin big-box {
  width: 1000px;
  height: 800px;
  background-color: #fff;
}

@mixin icon-operate {
    font-size: 24px ;
    margin:5px 10px ;
    cursor:pointer;
}

@mixin blood-div-margin {
    margin:5px 0px;
}

@mixin blood-div-margin {
    margin:5px 0px;
}

@mixin percentage-fill($width:100%,$height:100%) {
    width:$width;
    height:$height;
}